@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Playfair+Display:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* BROWSER STYLES */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(75, 47, 99, 0.5);
  height: 10%;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #4b2f63;
}

::-webkit-scrollbar-track {
  background-color: #1d232a;
}

::selection {
  color: #1d232a;
  background-color: #edfe7b;
}

html {
  --scroll-behavior: smooth !important;
  scroll-behavior: smooth !important;
}
body,
#root,
.app {
  height: 100%;
  background-color: #4b2f63;
  @apply text-white;
  margin: 0;
  padding: 0;
}
.wrapper {
  @apply container mx-auto px-5 md:px-0;
}
